:root {
    --yellow: #FFF6BB;
    --pink: #FFB8E9;
    --green: #97FFBB; 
    --blue: #64F8FF;

    --primary : #262626;
    --secondary: #dca6a1;
    --dark-color: #363636;
    --light-color: #f7f7f7;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, "Helvetica", sans-serif;
    text-decoration: none;
}

/* Header Font*/
h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 86px;

    color: var(--dark-color);
}

h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    color: var(--dark-color);
}

h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: var(--dark-color);
}

p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: var(--dark-color);
}

a {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;

    color: var(--dark-color);
}

/* .scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    background-color: var(--blue);
} */

body {
    background:white;
    /* height: 2000px; */
}

/* Navigation */
header {
    width: 100%;
    height: 150px;
    background: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;

    position: fixed;
    z-index: 200;
}

.logo {
    margin-right: 1000;
}

.hamburger {
    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

nav .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav .nav-items li{
    list-style: none;
    margin-right: 100px;
}

nav .nav-items li a {
    display: block;
    color: var(--dark-color);
    font-size: 20px;

    padding: 10px 25px;
    border-bottom: var(--dark-color);
    transition: 0.2s;
    margin: 0 5px;
}

nav .nav-items li a:hover {
    border-bottom: solid var(--dark-color);
}

nav .nav-items li a.active {
    border-bottom: solid var(--dark-color);
}

/* Main */

main {
    /* padding-top: 100px; */
    min-height: 100vh;
    width: 100%;
    /* padding-left: 8%; */
    /* padding-right: 8%; */
    box-sizing: border-box;
    overflow: hidden;
}

/* Section */

section {
    min-height: 100vh;
}
/* Page 1 */
.page-1 {
    display : flex;
    justify-content: space-between;
    background-color: var(--light-color);
}

.col-1 {
    flex-basis:40%;
    position: relative;
    background-color: var(--dark-color);
    min-height: 100vh;
}

.content-1 h1{
    color: var(--light-color);
}

.content-1 h2{
    font-weight: 800;
    color: var(--secondary);
}

.content-1 {
    flex-basis: 40%;
    margin-top: 160px;
    text-align: right;
    padding-right: 10%;
}

.col-2 {
    flex-basis: 60%;
    position: relative;
    display: flex;

    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--light-color);
    min-height: 100vh;
}

.col-2 .square-tal {
    margin-top: 100px;
    width: 70%;
}

.content-2 {
    /* margin-right: 10px; */
    padding-right: 10%;
    margin-left: 30%;
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 2rem;
}

.content-2 .p{
    text-justify: inter-word;
}

/* Talitha front */
.tal {
    z-index: 100;
}

.responsive {
    max-width: 100%;
    max-height: 100%;
}

.center {
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    height: 60%;
}

/* Quote Box */
.quote-box {
    position: absolute;
    /* border: solid black; */
    z-index: 150;
    top: 85%;
    min-height: 180px;
    min-width: 100%;
    background-color: var(--primary);

    display: flex;
    justify-content: center;
}

.quote {
    margin-top: 60px;
    margin-left: 8%;
    margin-right: 8%;
    font-weight: 100;
    color: var(--light-color);
    text-align: center;
}

/* Page 2 */
.page-2 {
    background-color:var(--light-color);
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    flex-direction: column;
}

.subtitle {
    margin-top: 100px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;

    /* border: solid black; */
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    gap: 3em;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    border: solid var(--dark-color);
    background-color: var(--dark-color);
    max-height: 400px;
    overflow: hidden;
    position: relative;
    flex-basis: 300px;
}

.project-box .project-title {
    color: var(--light-color);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;
    margin-bottom: 8%;
    
}
.project-box .project-img {
    width: 100%;
    object-fit: cover;
}

/* Footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer h3 {
    color : var(--light-color);
}

/* Animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Responsive */

@media (max-width: 1500px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 28px;
    }
}
@media (max-width: 1320px) {
    header {
        padding: 0 50px;
        height: 100px;
    }
    h1 {
        font-size: 50px;
        line-height: 52px;
    }
    
    .col-2 .square-tal {
        margin-top: 160px;
        width: 70%;
    }
}

@media (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: var(--dark-color);
        margin: 6px 0;
    }
    nav {
        display: none;
    }
    .page-1 {
        flex-direction: column;
    }
    .col-1 {
        flex-basis: 100%;
        /* min-height: 100vh */
    }
    .col-2 .square-tal {
        margin-top: 150px;
    }
    .subtitle {
        margin-top: 50px;
    }
}

@media (max-width: 540px){
    h1{
        font-size: 40px;
        line-height: 42px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .container {
        flex-direction: column;
    }
    .project-box{
        max-height: 500px;
        flex-basis: 500px;
    }
}

@media(prefers-reduced-motion){
    .hidden {
        transition : none;
    }
}